.loginRegister { background:white; 
    .nav-tabs { border:none; 
        li { width:50%; text-align:center; 
            &.active{
                a { cursor:inherit; border:none; border-top:solid 8px $corporateRedColor; background:#fff;  }
            }

            a { border-radius:0; border:none; background:#eee; cursor:inherit; margin:0; padding:12px 20px 20px; font-size:18px; border-top:solid 8px transparent; 
                &:focus { outline:none; }
            }
            a { background:$majorGreyBlue; color:white; border-top:8px solid transparent; border-radius:0px; margin:0px; font-size:20px; padding-bottom:18px !important; border-left:0px !important; border-right:0px !important; }
        }
    }
}
