.loginRegister { background:white; 
    ul {
        li { width:50%; text-align:center; 
            &.active {
                a { color:$corporateRedColor !important; background:white; border-top:8px solid $corporateRedColor !important; border-radius:0px; margin:0px; font-size:20px; padding-bottom:18px !important; border-left:0px !important; border-right:0px !important; 
                    &:focus{ outline:none; }
                }
            }
            a { background:rgb(135,135,145); color:white; border-top:8px solid transparent; border-radius:0px; margin:0px; font-size:20px; padding-bottom:18px !important; border-left:0px !important; border-right:0px !important; 
                 &:focus{ outline:none; }
            }
        }
    }
}