.primary-quix {
    .quiz {
        display: flex;
        flex-direction: column;

        .quiz-title,
        .quiz-footer,
        .quiz-content {
            padding-left: 20px;
            padding-right: 20px;
        }

        .quiz-title,
        .quiz-footer {
            flex: 0;
            background-color: white;
        }

        .quiz-title {
            h1, h2 {
                color: red;
            }
            h1 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }

        .quiz-footer {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
    .quiz-question {
        .quiz-content {
            background-image: url('../images/ResourcesForYou/Quiz/bg_Quiz-01.png');
        }

        .quiz-footer {
            text-align: center;
        }
    }
    .quiz-result {
        .quiz-title {
            text-align: center;
        }

        .quiz-content {
            background-image: url('../images/ResourcesForYou/Quiz/bg_Quiz-Finish.png');
        }
    }
}
