// Format Type 1
.FormatType1 { 
    img { width:100%; }
    content { padding:20px; background:#fff;  min-height:200px;
        title { color:#b30000; font-size:20px; }
        text { font-size:16px; }
    }
}