// ListType1
.ListType1 { padding:20px; 
	.TopColumn { background:#fff; position:relative;
        img { display:block; text-align:right; }
    }

    .BottomColumn { background:#fff; position:relative; 
        h4 { color:#000; font-size:18px; display:block; text-align: center; }
    }
}

// ListType2
.ListType2 { 
	.LeftColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; }
        h5 { color:grey; font-size:16px; display:block; }
    }
    .RightColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; text-align: right; }
        h5 { color:grey; font-size:16px; display:block; text-align: right;  }
    }
}

// ListType3 - News and Activity Listing
.ListType3 { background:lightgrey; display:table; width:100%; margin:0; padding:0; 
    .LeftColumn { width:200px; display:table-cell; margin:0; padding:0; 
        img { width:250px; height:250px; }
    }
    .RightColumn { display:table-cell; margin:0; padding:0;vertical-align: top; padding:20px;
        h4 { color:#0000ff; font-size:20px; margin: 0 0 5px 0; }
        h5 { color:#000; font-size:12px; margin: 0 0 20px 0; }
        p { color:#000; font-size:20px; }
    }
}

// ListType4 - Message Bubbles
.ListType4 { 
    .wrapper-message { margin:0 0 30px 0;
        &.me { text-align:right; 
            >div { position:relative; max-width:500px; display:inline-block;
                .name { position:absolute; top:0; right:0; width:35px; height:35px; margin: 0 0 0 10px; padding:8px 10px; color:white; background:#084c9a; display:inline-block; border-radius:50%; }
                .message { width:calc(100% - 45px); margin: 0 45px 0 0; padding:10px 15px; color:white; background:#306eff; display:inline-block; border-radius:20px; text-align:left; }
            }
            
        }

        &.they { text-align:left; 
            >div { position:relative; max-width:500px; display:inline-block;
                .name { position:absolute; top:0; left:0; width:35px; height:35px; margin: 0 10px 0 0; padding:8px 10px; color:000; background:#D7D7D7; display:inline-block; border-radius:50%; 
                    &.same {color:white; background:#084c9a;}
                }
                .message { width:calc(100% - 45px); margin: 0 0 0 45px; padding:10px 15px; color:000; background:#E7E7EC; display:inline-block; border-radius:20px; text-align:left; 
                    &.same {color:white; background:#306eff;}
                }
            }
        }
    }
}

// ListType5 - Message Bubbles
.ListType5 { 
    .wrapper-message { margin:0 0 30px 0;
        &.me { text-align:right; 
            >div { position:relative; max-width:500px; display:inline-block;
                .name { position:absolute; top:0; right:0; width:35px; height:35px; margin: 0 0 0 10px; padding:8px 10px; color:white; background:#084c9a; display:inline-block; border-radius:50%; }
                .message { width:calc(100% - 45px); margin: 0 45px 0 0; padding:10px 15px; color:white; background:#306eff; display:inline-block; border-radius:20px; text-align:left; }
            }
            
        }

        &.they { text-align:left; 
            >div { position:relative; max-width:500px; display:inline-block;
                .name { position:absolute; top:0; left:0; width:35px; height:35px; margin: 0 10px 0 0; padding:8px 10px; color:000; background:#D7D7D7; display:inline-block; border-radius:50%; }
                .nameLong{ width:calc(100% - 45px); margin: 0 0 10px 45px; color:#D7D7D7; }
                .message { width:calc(100% - 45px); margin: 0 0 0 45px; padding:10px 15px; color:000; background:#E7E7EC; display:inline-block; border-radius:20px; text-align:left;                 }}
        }
    }
}
