.BlogDetail { padding:20px; 
    .upper { padding:20px 140px; 
        img { width:100%; }
    }
    .bottom { padding:20px; position:relative;
        .title { font-size:24px; padding-bottom:20px; }
        .author { font-size:12px; padding-bottom:50px; color:grey; }
        .content { font-size:16px; }
    }
}