.CategoryGrid { position:relative; margin-top:60px; 
    .Title { 
        background-color:$corporateRedColor; 
        h2 { font-size:30px; color:$bodyBgColor; text-align:center; padding:10px;
            &.left-align { text-align:left; }
        }
    }
    .Contestor { background:$bodyBgColor; 
        h3 { color:$corporateRedColor; font-size:24px; text-align:center; padding:20px; margin:0px; }
        .img { line-height:400px; 
            img { padding:0px 30px; width:100%; vertical-align:middle;}
        }
        h5 { text-align:center; }
        h4 { text-align:center; font-size:24px; padding-top:20px; }
        p { padding:15px; }
    }
}
