.ImageGridParents {  
    .upper { 
        img { width:100%; }
    }
    .bottom {
        padding:20px; background:$corporateRedColor; 
        .grid { position:relative; 
            img { width:100%; }
            .text { position:absolute; bottom:0px; background-color:$textBoxBgDark; width:100%; padding: 20px; 
                a {color:#fff; font-size:20px; }
            }
        }
    }
}

.ImageGrid {  
    .upper { 
        img { width:100%; }
    }

    &.Primary { 
        ul {
            li {
                &.active { 
                    a {background:$bgGreenYellow; }
                }
                a { background:$bgGreenBlue; }
            }
        }
        .inner { background:$bgGreenYellow; }
    }
    &.Secondary { 
        ul {
            li {
                &.active { 
                    a {background:$bgGreenBlue; }
                }
                a { background:$bgGreenYellow; }
            }
        }
        .inner { background:$bgGreenBlue; }
    }

    .bottom { 
        ul {
            li { width:50%; text-align:center; 
                &.active {
                    a { border-top:8px solid $corporateRedColor; border-radius:0px; margin:0px; font-size:14px; padding-bottom:18px !important; border-left:0px !important; border-right:0px !important; }
                }
                // &:hover { 
                //     a {border-color:transparent !important; }
                // }

                a { border-top:8px solid transparent; border-radius:0px; margin:0px; font-size:14px; padding-bottom:18px !important; border-left:0px !important; border-right:0px !important;  }
            }
        }

        .inner { padding:20px; 
            .grid { position:relative; 
                img { width:100%; }
                .text { position:absolute; bottom:0px; background-color:$textBoxBgDark; width:100%; padding: 20px; 
                    a {color:#fff; font-size:20px; }
                }
            }
        }
    }
}
