.ImageTextGrid { background:#fff; 
    .upper { 
        img { width:100%; position:relative; }
        h2 { color:$red; font-size:50px; padding:10px; text-align:center; }
    }
    .bottom {
        .left { display:inline-block; padding:10px; 
            img { width:100%; }
        }
        .right { display:inline-block; padding:20px;
            h4 { color:$red; font-size:20px; }
            p { font-size:16px; }
        }
    }
}

.ImageTextGrid2 { background:#fff;
    .upper { margin-bottom:30px; 
        img { width:100%; position:relative; }
    }
    .bottom { padding:10px 250px;
        img { width:6%; display:inline-block; margin-right:50px; }
        p { display:inline-block; font-size:18px; }
    }
}