.ImageText { 
    .upper { 
        img { width:100%; position:relative; }
        img { width:100%; position:relative; }
        &.lavender { background-color:$bgLavender;}
    }
    .bottom { padding:10px 30px; background:#fff; min-height:1000px; 
        h3 { color:$corporateRedColor; font-size:30px;}
        h4 { color:$corporateRedColor; font-size:16px; padding:20px 0px; margin:0px; }
        ul { list-style:none; position:relative; 
            li::before {content: "•"; color: $corporateRedColor; font-size:300%; display: inline-block; width:30px; height:30px; position:absolute; top:-3px; left:-30px; 
            }
            li { padding-bottom:20px; position:relative;}
        }
        p { font-size:16px; margin:0px; }
    }
}
