// ROOT
#root { 
	>div { overflow:hidden; z-index:0; }
}

// WRAP
#wrap { position:relative; padding-top:105px; left:0; background: url('../images/bg_content.png') center top repeat; z-index:1; @include transition(0.1s); height:100%; min-width:1004px; }

// HEADER
.wrapper-header { position:fixed; top:0; width:100%; height:105px; z-index:1000; background:#f8f9fa; left:0; @include transition(0.1s); min-width:1004px; border-bottom: solid 5px red;

	.header { width:100%; max-width:1240px; height:100px; margin:0 auto; padding:10px 20px 0; position:relative;

		.logo-NA { width:204px; position:relative; display:inline-block; margin:3px 0 0 0; padding:0; 
			a { display:block; 
				img { width:100%; }
			}
		}
	
		.logo-schk { width:322px; float:right; display:inline-block; margin-top:7px; padding:0;
			a { display:block; 
				img { width:100%; }
			}
		}

		.desktop-language { float:right; list-style:none; display:block; margin:35px 20px; padding:0; 
			>li { display:block; float:left; border-left:solid 1px #000; 
				&:first-child { border:none; }

				a { display:block; line-height:1em; padding: 0 15px; font-size:20px; color:#DEDDDF;
					&:hover,
					&.active { color:#289bf7; }
				}
			}
		}

		.desktop-login { width:190px; height:66px;float:right; margin-top:7px; display:block; color:#fff; text-align:right;padding: 25px 20px; font-size:30px;
							background:url('../images/btn_header_Login.png') center top no-repeat; background-size:100%; 
			&:hover { background-position:center bottom; }
		}
	}
}

// FOOTER
.wrapper-footer {
	background: white;
	border-top: thick solid red;
	padding: 1rem 0;
	text-align: center;

	.footer {
		max-width: 1240px;
		margin: auto;
		padding: 10px 0;
	}

	.footer-column {
		padding-left: 20px;
		padding-right: 20px;
		h2 {
			margin-top: 1.5rem;
			margin-bottom: 1.8rem;
		}
	}

	.footer-subscription {
		.footer-subscription-logo {
			width: 100%;
		}
		label {
			display: block;
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-size: 13px;
			font-weight: normal;
		}
		input {
			background: dimgray;
			color: white;
			&::placeholder {
				color: scale-color(lightgray, $lightness: 66%);
			}
			border-color: dimgray;
			border-radius: 0;
		}
		.input-group-btn,
		button {
			cursor: unset;
			background-color: red;
			color: white;
			&:hover {
				background-color: scale-color(red, $lightness: -20%);
				border-color: scale-color(red, $lightness: -20%);
			}
			&:active {
				background-color: scale-color(red, $lightness: -30%);
				border-color: scale-color(red, $lightness: -30%);
				color: white;
			}
			border-color: red;
			border-radius: 0;
		}
		.input-group-btn:last-child > .btn {
			margin-left: 0;
		}
	}

	.footer-contact {
		ul {
			list-style-type: none;
		}
		li {
			line-height: 1.6em;
			margin: auto;
			margin-bottom: 1rem;
			font-size: 13px;
			font-weight: normal;
			max-width: 18rem;
			position: relative;

			a:hover,
			a:focus,
			a:active {
				text-decoration: underline;
			}
		}
		li:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: center / cover no-repeat;
			position: absolute;
			top: 50%;
			margin-top: -8px;
		}
		.email:before {
			background-image: url('../images/Footer/ic_footer-contact-Email.png');
		}
		.tel:before {
			background-image: url('../images/Footer/ic_footer-contact-Tel.png');
		}
		.fax:before {
			background-image: url('../images/Footer/ic_footer-contact-Fax.png');
		}
		.footer-social-icon-div a {
			display: inline-block;
			margin: 0.5rem;
		}
		.footer-social-icon {
			width: 48px;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.7;
			}
		}
	}

	.footer-address p {
		font-size: 13px;
	}
}

// SITEMAP
.wrapper-sitemap {
<<<<<<< HEAD
=======
	.sitemap { position:relative; max-width:1200px; margin:0 auto; padding:20px; color:#fff; 
>>>>>>> ec6d18cc47655edd5685bb14342f4b7c7201f5b9

    .sitemap { position:relative; max-width:1640px; margin:0 auto; padding:20px; color:#fff; 

        >ul { float:left; width:50%; }
        
        h3 { font-size:14px; margin:20px 0 10px 0;}
    }
}

// MainMenu
.wrapper-MainMenu { position:relative; width:100%; z-index:100;
	.MainMenu { position:relative; max-width:1200px; margin:0 auto;background:#42a8b0; 
		>ul { list-style:none; display:block; margin:0; padding: 0; 
			>li { display:block; float:left; width: calc(100% / 6); position:relative;
				>a { display:table; text-align:center; width:100%; padding:21px 0 0; color:#fff; font-size:20px; line-height:1.3em; height:90px; 
					
					&.about { background:url('../images/Menu/img_Menu-01About_Us_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-01About_Us_02line.jpg') left -15px repeat-x; position:absolute; right:-2%; top:0; height:100%; width:3%; z-index:2;}
					}
					&.resource { background:url('../images/Menu/img_Menu-02Resources_for_you_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-02Resources_for_you_02line.jpg') left -15px repeat-x; position:absolute; right:-2.3%; top:0; height:100%; width:3%; z-index:2; }
					}
					&.featured { background:url('../images/Menu/img_Menu-03Featured_Issues_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-03Featured_Issues_02line.jpg') left -15px repeat-x; position:absolute; right:-1.8%; top:0; height:100%; width:2.5%; z-index:2;}
					}
					&.research { background:url('../images/Menu/img_Menu-04Research_Finding_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-04Research_Finding_02line.jpg') left -15px repeat-x; position:absolute; right:-2.3%; top:0; height:100%; width:2.5%; z-index:2;}
					}
					&.event { background:url('../images/Menu/img_Menu-05Our_Event_01frame.jpg') left -15px repeat-x; position:relative;
						&:before { content:''; background:url('../images/Menu/img_Menu-05Our_Event_02line.jpg') left -15px repeat-x; position:absolute; right:-1.8%; top:0; height:100%; width:2.5%; z-index:2;}
					}
					&.external { background:url('../images/Menu/img_Menu-06External_Resources_01frame.jpg') left -15px repeat-x; position:relative; z-index:1; }
					
					span { display:table-cell; height:69px; vertical-align:middle; position:relative; }
				}
				&:hover >a span { color:#d40000; background:url('../images/Menu/btn_mene_select.png') center center no-repeat; background-size: 100% 100%; }

				ul { list-style:none; display:none; margin:0; padding:0; position:absolute; top:100%; left:50%; margin-left:-197px; width:394px;
					&.leftOne { margin-left:-76px; 
						.top { height:58px; background:url('../images/Menu/bubble_sub_menu-01top_1_left.png') center top no-repeat; }
					}
					&.leftTwo { margin-left:-76px; width:585px;
						.top { height:54px; background:url('../images/Menu/bubble_sub_menu-resourcesforyou_01_top.png') center top no-repeat; }
						.middle { background:url('../images/Menu/bubble_sub_menu-resourcesforyou_02_center.png') center top repeat-y;padding:0; }
						.bottom { height:28px; background:url('../images/Menu/bubble_sub_menu-resourcesforyou_03_bottom.png') center top no-repeat; }

						li { float:left; width:33.33%; padding:0px; border-left: solid 2px #c8c8c8;
							&:first-child { border:none; }

							a { border:none; display:block; margin:0 0 0 20px; padding:0; text-align:center;
								&:first-child{ margin:0; }

								.thumb { display:inline-block; width:142px; height:135px;
									&.one { background:url('../images/Menu/btn_resources_for_you-01.png') center top no-repeat;}
									&.two { background:url('../images/Menu/btn_resources_for_you-02.png') center top no-repeat;}
									&.three { background:url('../images/Menu/btn_resources_for_you-03.png') center top no-repeat;}
								}
								&:hover .thumb { background-position: center bottom; }

								span { padding: 2px 10px; display:inline-block; }
								&:hover span { background: none; }
							}
						}
					}
					
					.top { height:58px; background:url('../images/Menu/bubble_sub_menu-01top_2_center.png') center top no-repeat;}
					.middle { background:url('../images/Menu/bubble_sub_menu-02center.png') center top repeat-y; padding:0 40px; }
					.bottom { height:58px; background:url('../images/Menu/bubble_sub_menu-03bottom.png') center top no-repeat; }

					li { display:block; 
						&:first-child > a { border:none; }
						>a { display:block; padding: 15px 0; text-align:center; border-top: solid 2px #c8c8c8; font-size:18px; line-height:1.3em; 
							span { padding: 2px 10px; display:inline-block; }
							&:hover span { background:#fffeaf; }
						}
					}
				}

				&:hover > ul { display:block; }
			}
		}
	}
}

// CONTAINER
.wrapper-container-main { position:relative; width:100%; background-size:100%;

	.container-main { position:relative; max-width:1200px; margin:0 auto; min-height:700px; 

		.Breadcrumb { color:#000; margin:0; padding:5px 15px; border-radius:0; 
			span { display:inline-block; font-size:12px; padding:5px;
				a { display:block; color:#fff; font-size:12px; }
			}
		}

		.wrapper-content { position:relative; padding:20px 40px; 
			.content { padding:20px; background:#fff;  min-height:200px;
				&.no-padding { padding:0; }
				&.no-background { background:none; }
			}
		}
	}
}
