// ROOT
#root { 
	>div { overflow:hidden; z-index:0; }
}

// WRAP
#wrap { position:relative; padding-top:75px; left:0; background: url('../images/bg_content.png') center top repeat; z-index:1; @include transition(0.1s); height:100%; min-width:1004px; }

// HEADER
.wrapper-header { position:fixed; top:0; width:100%; height:75px; z-index:1000; background:#f8f9fa; left:0; @include transition(0.1s); min-width:1004px; border-bottom: solid 5px $corporateRedColor;

	.header { width:100%; max-width:1200px; height:100px; margin:0 auto; padding:0 20px; position:relative;

		.logo-NA-top { width:150px; position:relative; display:inline-block; margin:9px 0 0 0; padding:0; 
			a { display:block; 
				img { width:100%; }
			}
		}
	
		.logo-schk { width:250px; float:right; display:inline-block; margin-top:10px; padding:0;
			a { display:block; 
				img { width:100%; }
			}
		}

		.desktop-language { float:right; list-style:none; display:block; margin:25px 20px; padding:0; 
			>li { display:block; float:left; border-left:solid 1px #000; 
				&:first-child { border:none; }

				a { display:block; line-height:1em; padding: 0 15px; font-size:20px; color:#DEDDDF; font-size:20px;
					&:hover,
					&.active { color:$aColor; }
				}
			}
		}

		.desktop-login { width:140px; height:49px;float:right; margin-top:11px; display:block; color:#fff; text-align:right;padding: 15px 20px; font-size:16px;
							background:url('../images/btn_header_Login.png') center top no-repeat; background-size:100%; 
			&:hover { background-position:center bottom; }
		}

		.seekHelp { display:block; position:absolute; top:90%; right:9.3%; width:23.4%; padding-top:9.61%; background: url('../images/btn_Homepage-SeekHelp.png') center top no-repeat;  background-size:100%;
			&:hover { background-position: center bottom; }
			span { display:block; position:absolute; top:0; bottom:0; left:0; right:0; width:100%; padding: 19.5% 0; margin-left:14%; font-size:24px; color:#fff; text-align:center;
				 @media (max-width: 1200px ) { font-size:20px;}
			}

			&.small { width:66px; height:66px; background:url('../images/btn-SeekHelp_right.png') center top no-repeat; background-size:100%; text-indent:-9999px; padding:0; position:fixed; right:10px; top:170px;
				&:hover { background:url('../images/btn-SeekHelp_right.png') center bottom no-repeat; background-size:100%; }
			}
		}

		.helpBoard { height:150px; top:-155px; left:-230px; right:-230px; position:absolute; background:$majorLightGrey; border:5px solid $corporateRedColor; 
			h3 { position:absolute; bottom:70px; left:430px; color:$corporateRedColor; }
			.icon { width:66px; height:66px; background:pink; margin:-5px 0 0 -20px;} 
			.MuiGrid-container-1 {
				&.MuiGrid-spacing-xs-16-24 { position:absolute; width:100%; height:100%; margin:0px; bottom:0px;
					.MuiGrid-item-2 { padding:70px 90px;
						p { text-align:center; }
					}  
				}
			}
		}
	}
}

// FOOTER
.wrapper-footer {
	background: #fff;
	border-top: thick solid $corporateRedColor;
	padding: 1rem 0;
	text-align: center;

	.footer {
		max-width: 1200px;
		margin: auto;
		padding: 10px 0;
	}

	.footer-column {
		padding-left: 20px;
		padding-right: 20px;
		h2 {
			margin-top: 1.5rem;
			margin-bottom: 1.8rem;
		}
	}

	.footer-subscription {
		.footer-subscription-logo {
			width: 100%;
		}
		label {
			display: block;
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-size: 13px;
			font-weight: normal;
		}
		input {
			background: $majorDarkGrey; border-color:$majorDarkGrey !important;
			color:#fff;
			&::placeholder {
				color: scale-color($majorLightGrey, $lightness: 66%);
			}
			border-color:$bodyColor;
			border-radius: 0;
		}
		.input-group-btn,
		button {
			cursor: unset;
			background-color: $corporateRedColor;
			color:#fff;
			&:hover {
				background-color: scale-color($corporateRedColor, $lightness: -20%);
				border-color: scale-color($corporateRedColor, $lightness: -20%);
			}
			&:active {
				background-color: scale-color($corporateRedColor, $lightness: -30%);
				border-color: scale-color($corporateRedColor, $lightness: -30%);
				color: #fff;
			}
			border-color: $corporateRedColor;
			border-radius: 0;
		}
		.input-group-btn:last-child > .btn {
			margin-left: 0;
		}
	}

	.footer-contact {
		h2 { padding-left: 36px }
		ul {
			list-style-type: none;
		}
		li {
			line-height: 1.6em;
			margin: auto;
			margin-bottom: 1rem;
			font-size: 13px;
			font-weight: normal;
			max-width: 18rem;
			position: relative;

			a:hover,
			a:focus,
			a:active {
				text-decoration: underline;
			}
		}
		li:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: center / cover no-repeat;
			position: absolute;
			top: 50%;
			margin-top: -8px;
		}
		.email:before {
			background-image: url('../images/Footer/ic_footer-contact-Email.png');
		}
		.tel:before {
			background-image: url('../images/Footer/ic_footer-contact-Tel.png');
		}
		.fax:before {
			background-image: url('../images/Footer/ic_footer-contact-Fax.png');
		}
		.footer-social-icon-div a {
			display: inline-block;
			margin: 0.5rem;
		}
		.footer-social-icon {
			width: 48px;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.7;
			}
		}
	}

	.footer-address p {
		font-size: 13px;
	}
}

// SITEMAP
.wrapper-sitemap {

    .sitemap { position:relative; max-width:1640px; margin:0 auto; padding:20px; color:#fff; 

        >ul { float:left; width:50%; }
        
        h3 { font-size:14px; margin:20px 0 10px 0;}
    }
}

// MainMenu
.wrapper-MainMenu { position:relative; width:100%; z-index:100;
	.MainMenu { position:relative; max-width:1200px; margin:0 auto;background:$bgGreenBlue; 
		>ul { list-style:none; display:block; margin:0; padding: 0; 
			>li { display:block; float:left; width: calc(100% / 6); position:relative;
				>a { display:table; text-align:center; width:100%; padding:21px 0 0; color:#fff; font-size:20px; line-height:1.3em; height:90px; 
					
					&.about { background:url('../images/Menu/img_Menu-01About_Us_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-01About_Us_02line.jpg') left -15px repeat-x; position:absolute; right:-1.8%; top:0; height:100%; width:2.9%; z-index:2;}
					}
					&.resource { background:url('../images/Menu/img_Menu-02Resources_for_you_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-02Resources_for_you_02line.jpg') left -15px repeat-x; position:absolute; right:-2.3%; top:0; height:100%; width:2.8%; z-index:2; }
					}
					&.featured { background:url('../images/Menu/img_Menu-03Featured_Issues_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-03Featured_Issues_02line.jpg') left -15px repeat-x; position:absolute; right:-1.8%; top:0; height:100%; width:2.5%; z-index:2;}
					}
					&.research { background:url('../images/Menu/img_Menu-04Research_Finding_01frame.jpg') left -15px repeat-x; position:relative; 
						&:before { content:''; background:url('../images/Menu/img_Menu-04Research_Finding_02line.jpg') left -15px repeat-x; position:absolute; right:-2.3%; top:0; height:100%; width:2.5%; z-index:2;}
					}
					&.event { background:url('../images/Menu/img_Menu-05Our_Event_01frame.jpg') left -15px repeat-x; position:relative;
						&:before { content:''; background:url('../images/Menu/img_Menu-05Our_Event_02line.jpg') left -15px repeat-x; position:absolute; right:-1.8%; top:0; height:100%; width:2.5%; z-index:2;}
					}
					&.external { background:url('../images/Menu/img_Menu-06External_Resources_01frame.jpg') left -15px repeat-x; position:relative; z-index:1; }
					
					span { display:table-cell; height:69px; vertical-align:middle; position:relative; }
				}
				&:hover >a span { color:$corporateRedColor; background:url('../images/Menu/btn_mene_select.png') center center no-repeat; background-size: 100% 100%; }

				ul { list-style:none; display:none; margin:0; padding:0; position:absolute; top:100%; left:50%; margin-left:-197px; width:394px; 
					
					.home { bottom:100%;padding-bottom:100%; }

					&.leftOne { margin-left:-76px; 
						.top { height:58px; background:url('../images/Menu/bubble_sub_menu-01top_1_left.png') center top no-repeat; }
					}
					&.leftTwo { margin-left:-76px; width:585px;
						.top { height:54px; background:url('../images/Menu/bubble_sub_menu-resourcesforyou_01_top.png') center top no-repeat; }
						.middle { background:url('../images/Menu/bubble_sub_menu-resourcesforyou_02_center.png') center top repeat-y;padding:0; }
						.bottom { height:28px; background:url('../images/Menu/bubble_sub_menu-resourcesforyou_03_bottom.png') center top no-repeat; }

						li { float:left; width:33.33%; padding:0px; border-left: solid 2px $bodyColor;
							&:first-child { border:none; }

							a { border:none; display:block; margin:0 0 0 20px; padding:0; text-align:center;
								&:first-child{ margin:0; }

								.thumb { display:inline-block; width:142px; height:135px;
									&.one { background:url('../images/Menu/btn_resources_for_you-01.png') center top no-repeat;}
									&.two { background:url('../images/Menu/btn_resources_for_you-02.png') center top no-repeat;}
									&.three { background:url('../images/Menu/btn_resources_for_you-03.png') center top no-repeat;}
								}
								&:hover .thumb { background-position: center bottom; }

								span { padding: 2px 10px; display:inline-block; }
								&:hover span { background: none; }
							}
						}
					}
					
					.top { height:58px; background:url('../images/Menu/bubble_sub_menu-01top_2_center.png') center top no-repeat;}
					.middle { background:url('../images/Menu/bubble_sub_menu-02center.png') center top repeat-y; padding:0 40px; }
					.bottom { height:58px; background:url('../images/Menu/bubble_sub_menu-03bottom.png') center top no-repeat; }

					li { display:block; 
						&:first-child > a { border:none; }
						>a { display:block; padding: 15px 0; text-align:center; border-top: solid 2px $bodyColor; font-size:18px; line-height:1.3em; 
							span { padding: 2px 10px; display:inline-block; }
							&:hover span { background:$mainMenuHoverYellow; }
						}
					}
				}

				&:hover > ul { display:block; }
			}
		}
	}
}

// CONTAINER
.wrapper-container-main { position:relative; width:100%; background-size:100%;

	.container-main { position:relative; max-width:1200px; margin:0 auto;

		.Breadcrumb { color:#000; margin:0; padding:10px 20px; border-radius:0;
			span { display:inline-block; font-size:12px; padding:5px;
				&:first-child { padding-left:0; }
				a { display:block; color:#000; font-size:12px; }
			}
		}

		.wrapper-content { position:relative; padding:20px;
			.content { padding:0; max-width:1020px;margin: 0 auto; 
				&.lavender-background { background-color:$bgLavender; 
					h2 { color: $corporateRedColor; font-size: 30px; padding: 30px; background-color: $bodyBgColor}
				}
			}
		}
	}
}
