/* ROOT */
#root { 
	>div { overflow:hidden; z-index:0; }
}

/* WRAP */
#wrap { position:relative; padding-top:95px; left:0; background:#e6e408; z-index:1; @include transition(0.1s); height:100%;
	
	@media (max-width: 980px) { padding-top:50px; } 

	&.active { left: 300px; @include transition(0.1s); }

	.blackPlane { position:absolute; top:0; left:0; width:100%; height:100%; background:black; z-index:999; display:none; opacity:0.8; 
		&.active { display:block; }
	}
}

//MOBILE MENU
.wrapper-mobile-menu { position:fixed; top:0; left:0; height:100%; width:300px; background:white; overflow-y:scroll; -webkit-overflow-scrolling: touch; z-index:1; display:none;
	
	&.active { display:block; }
	
	>.mobile-menu { padding:15px 30px; background:white; 
		
		>.logo { max-width:100%; 
			img { max-width:100%; }
		}
		
		>ul { list-style:none; display:block; margin:0; padding:0;
			
			>li { display:block; margin:0; padding:0; border-top:solid 1px #d7d7d7;
				&:first-child { border:none; }
				
				>a { color:#7b7b7b; display:block; padding: 25px 0; font-size:18px; }

				.accordion { border:none; 
					
					.accordion__item { border-top:solid 1px #d7d7d7; 

						&:first-child { border:none; }

						.accordion__title { background:none; padding: 25px 0; cursor:pointer;

							background-repeat: no-repeat;
							background-position: right center;

							h3 { color: #000; display: block; margin:0; padding:0; font-size: 18px; font-weight:normal; }
						}

						.accordion__body { padding:0; 
							a { display:block; padding:20px 0 20px 15px; text-align:left; font-size:16px; border-top:solid 1px #d7d7d7; color: #7b7b7b; }
						}
					}
				}

				&.title {
					color: #000;
					padding: 25px 0;
					font-size:18px;
				}

				&.sub {
					padding-left: 15px;
				}

				&.arrow {
					// background-image: url(../images/mobile/General/menu-and-footer/btn_arrow-footer.png);
					background-repeat: no-repeat;
					background-position: right center;
				}
			}
		}

		>.wrap { text-align:center; 
			.free { margin:0; }
			a { display:inline-block; }
		}
	}
}

//HEAD
.wrapper-header { position:fixed; top:0; width:100%; z-index:1000; background:#e6e408; box-shadow: 2px 0 2px #666; left:0; @include transition(0.1s); 

	&.active { left: 300px; @include transition(0.1s); }

	.header { width:100%; max-width:1640px; height:100px; margin:0 auto; padding:10px 20px;
		@media (max-width: 980px) { height:50px; } 
	}
}

//FOOTER
.wrapper-footer { background:#1b1718; 

	.footer { position:relative; max-width:1640px; margin:0 auto; padding:20px; color:#fff; }
}
 
//CONTAINER
.wrapper-container-main { position:relative; width:100%; background:#ecc879; background-size:100%;

	.container-main { position:relative; padding:20px; max-width:1640px; margin:0 auto; min-height:600px; 

		.breadcrumb { background-color:#000; color:#fff; border-radius:0; margin:0; 
			span { display:inline-block; font-size:12px; padding:0 5px;
				a { display:block; color:#fff; font-size:12px; }
			}
		}

		.pageTitle { font-size:60px; color:#fff; }

		.wrapper-content { position:relative; background:#fff; 
			.content { padding:20px; }
		}
	}
}
