// // Body
$bodyBgColor: #fff;

// Typography
$font-family-body: 'Palanquin Dark', sans-serif;
$font-family-titles: 'Mitr', sans-serif;

$font-size-base: 15px;
$line-height-base: 1.2em;

$font-family-body-chinese: 'Microsoft JhengHei','Palanquin Dark', sans-serif;
$font-family-titles-chinese: 'Microsoft JhengHei','Mitr', sans-serif;

// Define website basic styles
$bodyColor:#484848;

$aColor:#484848;
$aHoverColor:#484848;
$borderColor :#757575; // accordion

// REAL
$majorGreen :#1dbeb9;
$majorYellowGreen :#c0d032;

// MENU
// #153568 #4b689a
// #d40000 #fe5353
// #c45502 #e67e00
// #2d5e30 #428644
// #be9500 #efa007
// #018d96 #42a8b0

$corporateRedColor:#da291c;
$majorBlueGreen: rgb(66,169,176); 
$majorBlue:#289bf7;
$majorGreenYellow: rgb(193,254,1); 
$majorGreenBlue: rgb(0,226,225);
$torquoise:#1dbeb9;;
$lavender: rgb(230,230,250);
$transparentGrey:rgba(128,128,128,0.2);
$darkTransparentGrey:rgba(128,128,128,0.6);
$lightGrey:rgb(211,211,211);
$dimGrey:rgb(105,105,105);
$errorGrey:rgb(162,161,169);
$darkGrey:#484848;
$menuGrey:#747474;
$majorGreyBlue:rgb(135,135,145);
$darkBlue:rgb(0,0,139);
$majorBlue:#003399;
$red:#b30000;
$brightRed:#d40000;

// SLICK
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: white !default;
$slick-dot-color-active: grey !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;