// Fonts
@import url('https://fonts.googleapis.com/css?family=Mitr|Palanquin+Dark&display=swap');

// Plugins
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme.css";
// @import "~react-datepicker/dist/react-datepicker.css";
// @import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "~react-responsive-carousel/lib/styles/carousel.css";

// variables
@import "100Global/variables";

// mixin
@import "100Global/mixin";

// normalize
// @import "~normalize.css/normalize";

// css framework
// @import "~bootstrap/scss/bootstrap";

// structure
@import "100Global/global";
@import "100Global/structure";
// @import "100Global/gridSystem";
@import "102Template/ImageText";
@import "102Template/ImageGrid";
@import "102Template/BlogDetail";
@import "102Template/VideoDetail";

// components
@import "101Components/heroMenu";
@import "101Components/quiz";
// @import "101Components/formElements";
// @import "101Components/sharedElements";
@import "101Components/sharedRepeatingElements";
// @import "101Components/memberMenu";
// @import "101Components/sortbyFilter";
// @import "101Components/accordion";
// @import "101Components/popup";
// @import "101Components/searchBox";
// @import "101Components/locationSearchInput";
// @import "101Components/datepicker";
// @import "101Components/fullCalendar";
// @import "101Components/rangeSlider";
// @import "101Components/clusterMap";
// @import "101Components/calendar";
// @import "101Components/component";

// page specific
@import "00Home/home";
